body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 0;
    background-color: #f0f8ff; /* AliceBlue */
    color: #333;
}

header {
    background-color: #4682B4; /* SteelBlue */
    color: #fff;
    padding: 1em 0;
    text-align: center;
    margin-bottom: 20px;
    border-radius: 5px;
}

h1 {
    color: #fff;
}

#messages {
    padding: 1em;
}

#messages ul {
    list-style-type: none;
    padding: 0;
}

#messages li {
    background-color: #fff;
    border: 1px solid #ddd;
    margin-bottom: 0.5em;
    padding: 0.75em;
    border-radius: 5px;
}

#new-message {
    padding: 1em;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#controls {
    display: flex;
    justify-content: center;
    margin-top: 1em;
}

#controls button {
    margin: 0 0.5em;
}

button {
    padding: 0.75em 1.5em;
    background-color: #4682B4; /* SteelBlue */
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 0.5em;
}

button:hover {
    background-color: #5F9EA0; /* CadetBlue */
}

#message-text {
    width: 70%;
    padding: 0.5em;
    margin-bottom: 0.5em;
    border: 1px solid #ddd;
    border-radius: 5px;
}


.dark-theme {
    background-color: #333;
    color: #fff;
}

.dark-theme header {
    background-color: #111;
    color: #fff;
}

.dark-theme #messages li {
    background-color: #555;
    color: #fff;
    border: 1px solid #777;
}

.dark-theme #message-text {
    background-color: #555;
    color: #fff;
    border: 1px solid #777;
}

.dark-theme #send-button {
    background-color: #111;
    color: #fff;
}

.dark-theme #send-button:hover {
    background-color: #555;
    color: #fff;
}
